p{width:900px;
  background-color:rgb(193, 193, 193)  
   }
   h2{background-color:rgb(136, 139, 142);
   width:900px
   }
.p{width:80px;
background-color:white;
}
h3{ background-color:rgb(136, 139, 142);
width:290px
}
h1{width:400}
.h3{width:800px

}
.b{background-color:white}
body{background-color:rgb(237, 241, 243) ;}